#homeIndex
  = render 'shared/header'
  = render 'devise/menu/login_items'
  - if user_signed_in?
    %h2 Welcome, #{current_user.username}
    %ul.rounded
      %li.forward
        =link_to image_tag("icons/track-weight.png", :width => "20", :align => "top", :style => "padding-right: 10px;") + "Track Weight", new_weight_path
      %li.forward
        =link_to image_tag("icons/chart.png", :width => "20", :align => "top", :style => "padding-right: 10px;") + "Chart My Weight", chart_path
    %h2 Administration
  - unless user_signed_in?
    %div.info{:style => "color: #69B; font-size: 110%;"}
      Weight Buddy is a platform to track your weight, daily. And to create nice graphs.
  = render 'devise/menu/registration_items'
